/bin/
/include/
/lib/
/lib64/
/pip-selfcheck.json
/output*/
/test_output/
/keras-dcgan/
/__pycache__/
/generated/
/trash/
*.pkl
*.pyc
output_classifier
/ramdom_matrix.txt
/environment_log.txt
/output_classifier
/classificator_alex_27class.hdf5
/keras/
